/* src/app/globals.css */
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Hex code Slate-50 */
  --background: #f8fafc;
  --foreground: #0f172a;
  color-scheme: light;
}

.dark {
  /* Hex code Slate-950 */
  --background: #020617;
  --foreground: #f1f5f9;
  color-scheme: dark;
}

body {
  /* Paksa body pakai variabel ini */
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}


